.box {
    width: 200px;
    height: 100px;
    font-family: "Comic Sans MS",  cursive, sans-serif;
  }
  
  .section-blue {
    line-height: 100px;
    color:#ffa500;
    background: color #00f;
  }
  
  .container {
    font-family:"Lucida Console", Monaco, Monospace;
    color:white;
    background-color:black;
  }
  
  #section-1 {
    font-size:26px;
    color: #ff0;
    background: color #800080;
  }
  
  #section-6 {
    color: #ff0;
  }
  /*THIS IS HOW TO COMMENT IN CSS*/
  .box-blue {
    color:orange;
    background-color: blue;
  }
  
  .box-orange {
    color: #0000ff;
    background-color: #ffa500;
  }
  
  .box-yellow {
    color: white;
    background-color: black;
  }
  
  .box-purple {
    color:yellow;
    background-color:purple;
  }
  
  #section-6 {
    color:yellow;
  }
  
  .utility-max-width{
    width: 100%;
  }
  
  